.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    position: relative;
    display: none;
    /* margin-left: 20px; */
    /* margin-left: 300px; */
}

.cell {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    width: 100px;
    height: 100px;
    font-weight: bold;
    border: 2px solid #656462;
    border-radius: 10px;
    position: absolute;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 105px; */
}

.cell1{
    background-image: url('img/img1.png');
}
.cell2{
    background-image: url('img/img2.png');
}
.cell3{
    background-image: url('img/img3.png');
}
.cell4{
    background-image: url('img/img4.png');
}
.cell5{
    background-image: url('img/img5.jpg');
}
.cell6{
    background-image: url('img/img6.jpg');
}
.cell7{
    background-image: url('img/img7.jpg');
}
.cell8{
    background-image: url('img/img8.jpg');
}

.cell9{
    background-image: url('img/img9.png');
}
.cell10{
    background-image: url('img/img10.png');
}
.cell11{
    background-image: url('img/img11.png');
}
.cell12{
    background-image: url('img/img12.png');
}
.cell13{
    background-image: url('img/img13.png');
    background-size: 95px;
}
.cell14{
    background-image: url('img/img14.png');
    background-size: 95px;
}
.cell15{
    background-image: url('img/img15.png');
    background-size: 95px;
    /* background-position: bottom 30px; */
}

.child1 {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    align-content: center;
    vertical-align: top;
    width: 400px;
    margin-bottom: 20px;
}

.child2 {
    display: inline-block;
}

.titleAndButton {
    text-align: center;
    vertical-align: top;
}

.result {
    display: none;
    font-family: "Arial";
    font-size: 13pt;
    margin-top: 5px;
}

/* .difficulty {
    text-align: left;
    font-family: "Arial";
    font-size: 13pt;
} */


.game {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.game:hover {
    background: rgb(53, 167, 110);
}

.game:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

h1 {
    font-family: "Arial Black";
    font-size: 20px;

}